# Example environment variables for live services
AUTH_SERVICE_URL=https://prod.authentication.payplatter.in
INVOICE_SERVICE_URL=https://prod.invoice.payplatter.in
PAYMENT_SERVICE_URL=https://prod.paymentwrapper.payplatter.in
# Other env vars used by this app
# PORT=5000
# DB connection settings...